
    <!-- BOX -->
    <div class="box border blue">
        <div class="box-title">
            <h4><i class="fa fa-suitcase"></i>用例列表</h4>
            {% if request.user %}
                <a href="{% url 'case_create'%}">
                    <button class="btn btn-primary pull-right"><i class="fa fa-file"></i> 新建</button>
                </a>
            {% endif %}
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>用例名称</th>
                    <th>重要性</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                {% if cases %}
                    {% for case in cases %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'case_view' case.id %}">{{ case.name }}</a></td>
                            <td>
                                {% ifequal case.level 1 %}
                                    <span class="label label-success">{{ case.get_level_display }}</span>
                                {% else %}
                                    {% ifequal case.level 2 %}
                                        <span class="label label-warning">{{ case.get_level_display }}</span>
                                    {% else %}
                                        <span class="label label-danger">{{ case.get_level_display }}</span>
                                    {% endifequal %}
                                {% endifequal %}
                            </td>
                            <td>{{ case.createdAt|date:'Y-m-d H:i:s' }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>没有找到数据.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- /BOX -->