
    <!-- BOX -->
    <div class="box border blue">
        <div class="box-title">
            <h4><i class="fa fa-suitcase"></i>{{ case.name }}</h4>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="javascript:;" class="remove">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="box-body big">
            <dl class="dl-horizontal">
                <dt>重要性</dt>
                <dd>{{ case.get_level_display }}</dd>
                <dt>命令</dt>
                <dd>{{ case.command }}</dd>
                <dt>脚本</dt>
                <dd>{{ case.script }}</dd>
                <dt>参数</dt>
                <dd>{{ case.param }}</dd>
                <dt>描述</dt>
                <dd>{{ case.description }}</dd>
                <dt>创建时间</dt>
                <dd>{{ case.createdAt|date:'Y-m-d H:i:s' }}</dd>
                <dt>修改时间</dt>
                <dd>{{ case.modifyAt|date:'Y-m-d H:i:s' }}</dd>
            </dl>
        </div>
    </div>
    <!-- /BOX -->

    <p class="btn-toolbar">
        {% if request.user.is_authenticated %}
            <a href="{% url 'case_edit' case.id %}">
                <button class="btn btn-info"><i class="fa fa-edit"></i> 修改</button>
            </a>
            <a href="{% url 'case_delete' case.id %}">
            <button class="btn btn-danger"><i class="fa fa-trash-o"></i> 删除</button>
            </a>
        {% endif %}
    </p>