{% extends 'layout.html' %}
{% block header %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header" >
                <div class="clearfix">
                    <h3 class="content-title pull-left"><a href="{% url 'suite_view' f_suite.pk %}">{{ f_suite.name }}</a></h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="box border blue">
        <div class="box-title">
            <h4><i class="fa fa-tasks"></i>添加用例</h4>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>名称</th>
                        <th>描述</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {% if cases %}
                    {% for case in cases %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'suite_view' case.id %}">{{ case.name }}</a></td>
                            <td>{{ case.description }}</td>
                            <td>{{ case.createdAt | date:'Y-m-d H:i:s' }}</td>

                            <td><a href={% url 'add_case' f_suite.pk case.pk %}><button class="btn btn-info">添加</button></a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}