{% extends 'base/base.html' %}
{% block title %}HotFix SDK{% endblock %}
{% block stlye %}
    {% include 'base/index/stylesheet.html' %}
{% endblock %}
{% block bodyClass %}layout-top-nav{% endblock %}
{% block mainHeader %}
    {% include 'base/index/mainHeader.html' %}
{% endblock %}
{% block leftView %}{% endblock %}
{% block contentHeader %}{% endblock %}
{% block content %}

    <div id="content_hot_fix" style="background-color: #a6e1ec;margin: -40px -15px 0 -15px;;padding: 30px 50px;">
                <div><p style="font-size: 50px">HOT FIX</p> </div>
                <div><h3>hot fix是一个在线BUG修复的手机应用SDK，它为开发者提供了客户端异常反馈服务，以及客户端代码的在线即时同步功能。</h3> </div>
                <br/>
                <br/>
                <div>
                    <button class="btn btn-block btn-info btn-lg pull-left" style="background-color: inherit;color: #000000;font-weight: bold">查看详情</button>
                </div>
                <br/>
                <br/>
            </div>

            <div id="content_developers" style="margin: 20px -15px 0 -15px;;padding: 30px 50px;">
                <div><p style="font-size: 50px">开发团队</p> </div>
                <div><h3>hot fix是一个在线BUG修复的手机应用SDK，它为开发者提供了客户端异常反馈服务，以及客户端代码的在线即时同步功能。</h3> </div>
                <br/>
                <br/>
                <div>
                    <button class="btn btn-block btn-info btn-lg pull-left" >查看详情</button>
                    <!--<button class="btn btn-block btn-info btn-lg pull-right">def</button>-->
                </div>
                <br/>
                <br/>
            </div>

{% endblock %}
{% block controlSider %}{% endblock %}
{% block script %}
    {% include 'base/index/script.html' %}
    <script>
        $('body').addClass('layout-top-nav');
    </script>
{% endblock %}
