{% extends "layout.html" %}
{% block header %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header" >
                <div class="clearfix">
                    <h3 class="content-title pull-left"><a href="{% url 'suite_view' suite.pk %}">{{ suite.name }}</a></h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="box border blue">
        <div class="box-title">
            <h4><i class="fa fa-tasks"></i> 套件内容 </h4>
            {% if request.user.is_authenticated %}
                <a href="{% url 'add_suite_list' suite.pk %}">
                    <button class="btn btn-primary pull-right"><i class="fa fa-file"></i> 添加套件</button>
                </a>
                <a href="{% url 'add_case_list' suite.pk %}">
                    <button class="btn btn-primary pull-right"><i class="fa fa-file"></i> 添加用例</button>
                </a>
{#                <a href="{% url 'suite_create' %}">#}
{#                    <button class="btn btn-primary pull-right"><i class="fa fa-file-text fa-fw"></i>新建</button>#}
{#                </a>#}
            {% endif %}
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>名称</th>
                        <th>类型</th>
                        <th>描述</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {% if suite.suites.all %}
                    {% for c_suite in suite.suites.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'suite_view' c_suite.id %}">{{ c_suite.name }}</a></td>
                            <td>套件</td>
                            <td>{{ c_suite.description }}</td>
                            <td>{{ c_suite.createdAt | date:'Y-m-d H:i:s' }}</td>
                            <td><a href="{% url 'remove_suite'  suite.pk c_suite.pk %}"><button class="btn btn-danger">从套件中移除</button></a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if suite.cases.all %}
                    {% for case in suite.cases.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'case_view' case.id %}">{{ case.name }}</a></td>
                            <td>用例</td>
                            <td>{{ case.description }}</td>
                            <td>{{ case.createdAt | date:'Y-m-d H:i:s' }}</td>
                            <td><a href="{% url 'remove_case' suite.pk case.pk %}"><button class="btn btn-danger"><i class="fa fa-trash-o"></i> 移除</button></a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            </table>
        </div>
        <div class="box-body">
            {% if task_reports %}
                <dl class="table table-hover">
                    <dt>运行次数</dt>
                    <dd>{{ task_reports.count}}</dd>
                </dl>
                <h4>最新状态</h4>
                <dl class="table table-hover">
                    <dt>创建时间</dt>
                    <dd>{{ task_report.createdAt|date:'Y-m-d H:i:s' }}</dd>
                    <dt>运行状态</dt>
                    {% ifequal task_report.result 1 %}
                        <dd><span class="label label-success">{{ task_report.get_result_display }}</span></dd>
                    {% endifequal %}
                    {% ifequal task_report.result 2 %}
                        <dd><span class="label label-danger">{{ task_report.get_result_display }}</span></dd>
                    {% endifequal %}
                    {% ifequal task_report.result 3 %}
                        <dd><span class="label label-info">{{ task_report.get_result_display }}</span></dd>
                    {% endifequal %}
                    <dt>运行环境</dt>
                <dd>{{ machine.name }}</dd>
                </dl>
            {% else %}
                无数据
            {% endif %}
        </div>
    </div>
{% endblock %}
{#{% block content %}#}
{#    <ol class="breadcrumb">#}
{#        <li><a href="/suite.html">All</a></li>#}
{#        <li>{{ p_suite.name }}</li>#}
{#    </ol>#}
{#    <table class="table table-hover">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>套件</th>#}
{#            <th>描述</th>#}
{#            <th>创建时间</th>#}
{#            <th>修改时间</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        <tr>#}
{#            <td>{{ p_suite.name }}</td>#}
{#            <td>{{ p_suite.description }}</td>#}
{#            <td>{{ p_suite.createdAt|date:'Y-m-d H:i:s' }}</td>#}
{#            <td>{{ p_suite.modifyAt|date:'Y-m-d H:i:s' }}</td>#}
{#        </tr>#}
{#        </tbody>#}
{#        <tfoot>#}
{#        <tr>#}
{#            <td colspan='12'></td>#}
{#        </tr>#}
{#        </tfoot>#}
{#    </table>#}
{#    <h4>任务列表:</h4>#}
{#    <table class="table table-hover">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>任务名称</th>#}
{#            <th>创建时间</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% if tasks %}#}
{#            {% for task in tasks %}#}
{#                <tr>#}
{#                    <td><a href="{% url 'task_view' task.id %}">{{ task.name }}</a></td>#}
{#                    <td>{{ task.createdAt|date:'Y-m-d H:i:s' }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        {% else %}#}
{#            <tr>#}
{#                <td>没有找到数据.</td>#}
{#            </tr>#}
{#        {% endif %}#}
{#        </tbody>#}
{#        <tfoot>#}
{#        <tr>#}
{#            <td colspan='12'></td>#}
{#        </tr>#}
{#        </tfoot>#}
{#    </table>#}
{#    <h4>用例列表:</h4>#}
{#    <table class="table table-hover">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>用例名称</th>#}
{#            <th>重要性</th>#}
{#            <th>创建时间</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% if cases %}#}
{#            {% for case in cases %}#}
{#                <tr>#}
{#                    <td><a href="{% url 'case_view' case.id %}">{{ case.name }}</a></td>#}
{#                    <td>{{ case.get_level_display }}</td>#}
{#                    <td>{{ case.createdAt|date:'Y-m-d H:i:s' }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        {% else %}#}
{#            <tr>#}
{#                <td>没有找到数据.</td>#}
{#            </tr>#}
{#        {% endif %}#}
{#        </tbody>#}
{#        <tfoot>#}
{#        <tr>#}
{#            <td colspan='12'></td>#}
{#        </tr>#}
{#        </tfoot>#}
{#    </table>#}
{#{% endblock %}#}
