{#    <div class="col-lg-12" style="margin-top: 15px">#}
        <div class="box border blue">
            <div class="box-title">
                <h4><i class="fa fa-tasks"></i> 套件列表 </h4>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'suite_create' %}">
                        <button class="btn btn-primary pull-right"><i class="fa fa-file"></i> 新建</button>
                    </a>
                {% endif %}
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>套件名称</th>
                            <th>描述</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if suites %}
                        {% for suite in suites %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'suite_view' suite.id %}">{{ suite.name }}</a></td>
                                <td>{{ suite.description }}</td>
                                <td>{{ suite.createdAt | date:'Y-m-d H:i:s' }}</td>
                                <td>
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'suite_del' suite.id %}">
                                            <button class="btn btn-danger"><i class="fa fa-trash-o"></i> 删除</button>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'login' %}">
                                            <button class="btn btn-primary"><i class="fa fa-file-text fa-fw"></i> 请登录</button>
                                        </a>
                                    {% endif %}
                                    <a href="{% url 'task_trigger' suite.id %}">
                                        <button class="btn btn-primary"><i class="fa fa-gavel"></i> 触发</button>
                                    </a>
                                    <a href="{% url 'suite_edit' suite.id %}">
                                        <button class="btn btn-info"><i class="fa fa-edit"></i> 修改</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
                </table>
            </div>
        </div>
{#        {% if suites %}#}
{#            {% for suite in suites %}#}
{#                <!-- BOX -->#}
{#                <div class="box border blue ">#}
{#                    <div class="box-title">#}
{#                        <h4><i class="fa fa-bars"></i>{{ suite.name }}</h4>#}
{#                        <div class="tools">#}
{#                            <a href="javascript:;" class="collapse">#}
{#                                <i class="fa fa-chevron-up"></i>#}
{#                            </a>#}
{#                            <a href="javascript:;" class="remove">#}
{#                                <i class="fa fa-times"></i>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="box-body big">#}
{#                        <dl class="dl-horizontal">#}
{#                            <dt>描述</dt>#}
{#                            <dd>{{ suite.description }}</dd>#}
{#                            <dt>创建时间</dt>#}
{#                            <dd>{{ suite.createdAt|date:'Y-m-d H:i:s' }}</dd>#}
{#                            <dt>修改时间</dt>#}
{#                            <dd>{{ suite.modifyAt|date:'Y-m-d H:i:s' }}</dd>#}
{#                        </dl>#}
{#                    </div>#}
{#                </div>#}
{#                <!-- /BOX -->#}
{#            {% endfor %}#}
{##}
{#        {% else %}#}
{#            <!-- BOX -->#}
{#            <div class="box border blue">#}
{#                <div class="box-title">#}
{#                    <h4><i class="fa fa-bars"></i>没有找到套件.</h4>#}
{#                    <div class="tools">#}
{#                        <a href="javascript:;" class="collapse">#}
{#                            <i class="fa fa-chevron-up"></i>#}
{#                        </a>#}
{#                        <a href="javascript:;" class="remove">#}
{#                            <i class="fa fa-times"></i>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- /BOX -->#}
{#        {% endif %}#}

{#    </div>#}