{% extends 'base/base.html' %}
{% block title %}应用管理{% endblock %}
{% block stlye %}
    {% include 'base/user/stylesheet.html' %}
{% endblock %}

{% block mainHeader %}
    {% include 'base/user/mainHeader.html' %}
{% endblock %}

{% block leftView %}
    {% include 'base/user/leftView.html' %}
{% endblock %}

{% block contentHeader %}
    {% include 'base/user/contentHeader.html' %}
{% endblock %}

{% block content %}
    <div class="box border blue">
        <div class="box-title">
            <h4><i class="fa fa-tasks"></i>添加套件</h4>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>名称</th>
                        <th>描述</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {% if suites %}
                    {% for suite in suites %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'suite_view' suite.id %}">{{ suite.name }}</a></td>
                            <td>{{ suite.description }}</td>
                            <td>{{ suite.createdAt | date:'Y-m-d H:i:s' }}</td>

                            <td><a href={% url 'add_suite' f_suite.pk suite.pk %}><button class="btn btn-info">添加</button></a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block controlSider %}
    {% include 'base/user/controlSider.html' %}
{% endblock %}

{% block script %}
    {% include 'base/user/script.html' %}
{% endblock %}