{% extends "layout.html" %}
{% block sidebar %}
    <div class="sidebar-menu nav-collapse">
        <div class="divide-20"></div>
        <!-- SEARCH BAR -->
        <div id="search-bar">
            <input class="search" type="text" placeholder="Search"><i class="fa fa-search search-icon"></i>
        </div>
        <!-- /SEARCH BAR -->

        <!-- SIDEBAR MENU -->
        <ul>
            {% for suite in suites %}
                <li>
                    <a class="" href="{% url 'task_list_index' suite.id %}">
                        <i class="fa fa-bookmark"></i>
                        <span class="menu-text">{{ suite.name }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <!-- /SIDEBAR MENU -->
    </div>
{% endblock %}

{% block header %}
    <!-- PAGE HEADER-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header" style="padding-top: 15px">
                <div class="clearfix">
                    {% if p_suite %}
                        <h3 class="content-title pull-left">{{ p_suite.name }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /PAGE HEADER -->
{% endblock %}


{% block content %}
    <!-- BOX -->
    <div class="box border blue">
        <div class="box-title">
            <h4><i class="fa fa-hand-o-up"></i>任务列表</h4>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="javascript:;" class="remove">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>任务名称</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                {% if p_tasks %}
                    {% for task in p_tasks %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'task_view' task.id %}">{{ task.name }}</a></td>
                            <td>{{ task.createdAt|date:'Y-m-d H:i:s' }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>没有找到数据.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- /BOX -->
    <div>
        {% if p_suite %}
            {% if request.user.is_authenticated %}
                <a href="{% url 'task_create' p_suite.id %}">
                    <button class="btn btn-primary"><i class="fa fa-file-text fa-fw"></i> 新建</button>
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}