{% extends "layout.html" %}
{% block sidebar %}
    <div class="sidebar-menu nav-collapse">
        <!-- SIDEBAR MENU -->
        <ul>
            {% if suites %}
                {% for suite in suites %}
                    <li>
                        <a class="" href="{% url 'task_list_index' suite.id %}">
                            <i class="fa fa-bookmark"></i>
                            <span class="menu-text">{{ suite.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <!-- /SIDEBAR MENU -->
    </div>
{% endblock %}


{% block header %}
    <!-- PAGE HEADER-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header" style="padding-top: 15px">
                <div class="clearfix">
                    <h3 class="content-title pull-left">{{ p_task.suite.name }}</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- /PAGE HEADER -->
{% endblock %}


{% block content %}
    <form id="wizForm" class="form-horizontal" method="post">
        {% csrf_token %}

        <input type="text" name="num" id="num" hidden="true" value="0">

        <!-- BOX -->
        <div class="box border blue" id="formWizard">
            <div class="box-title">
                <h4><i class="fa fa-bars"></i>修改任务</h4>
                <div class="tools hidden-xs">
                    <a href="javascript:;" class="collapse">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a href="javascript:;" class="remove">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body form">
                <div class="wizard-form">
                    <div class="wizard-content">
                        <div class="tab-content">
                            <!--
                            <div class="alert alert-danger display-none">
                                <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                                Your form has errors. Please correct them to proceed.
                            </div>
                            <div class="alert alert-success display-none">
                                <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                                Your form validation is successful!
                            </div>
                            -->
                            <div class="tab-pane active" id="account">
                                <div class="form-group">
                                    <label class="control-label col-md-3">名称 <span class="required">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="name" placeholder="Please provide name" value="{{ p_task.name }}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">描述 <span class="required">*</span></label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" name="description" placeholder="Please provide description" rows="6">{{ p_task.description }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /BOX -->

        <div id="formWizard" class="box border purple">
            <div class="box-title" id="case">
                <h4><i class="fa fa-suitcase"></i>用例列表</h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a href="javascript:;" class="remove">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body big">
                {% for p_task_case in p_task_cases %}
                    <!-- PAGERS -->
                    <div class="box border green">
                        <div class="box-title">
                            <h4><i class="fa fa-suitcase"></i>{{ p_task_case.case.name }}</h4>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a href="javascript:;" class="remove">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-body">
                            <dl class="dl-horizontal">
                                <dt>描述</dt>
                                <dd>{{ p_task_case.case.description }}</dd>
                                <dt>创建时间</dt>
                                <dd>{{ p_task_case.case.createdAt|date:'Y-m-d H:i:s' }}</dd>
                                <dt>修改时间</dt>
                                <dd>{{ p_task_case.case.modifyAt|date:'Y-m-d H:i:s' }}</dd>
                            </dl>
                            <a href="{% url 'task_case_delete' p_task_case.task.id p_task_case.case.id %}">删除</a>
                        </div>
                    </div>
                    <!-- /PAGERS -->
                {% endfor %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-file-text"></i> 添加用例
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">用例列表</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label >用例</label>
                                    <select name = "case" id= "sel" class="form-control">
                                        {% for case in p_cases %}
                                            <option value="{{ case.id }}" >{{ case.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" id="save" class="btn btn-primary">添加</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
            </div>
        </div>
        <div class="col-md-12">
                <a href="{% url 'task_view' p_task.id %}" class="btn btn-default prevBtn">
                    <i class="fa fa-arrow-circle-left"></i> 返回
                </a>
                <button type="submit" class="btn btn-success submitBtn"> 提交 <i class="fa fa-arrow-circle-right"></i></button>
        </div>
    </form>

    <script type="text/javascript">
        $(function(){
            //document.write("Hello World!")
            $('#save').on('click', function(){
                var num = parseInt($('#num').val())
                //console.log('target元素绑定了click事件');
                $("<input readonly='true' type='text' name='"+'case'+num+"' value='"+$('#sel').val()+"'/>").insertAfter($('#case'));
                $("#num").attr("value",num+1);//填充内容
                var num = parseInt($('#num').val())
                $('#myModal').modal('hide')
            });
        })

    </script>

{% endblock %}