<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <ul class="nav">
            <li class="dropup">
                <a id="footer_contact_us" href="#" class="dropdown-toggle" data-toggle="dropdown">联系我们 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">邮件</a></li>
                    <li class="divider"></li>
                    <li><a href="#">在线留言</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
</footer>